@model EMPRESA_QBE.Models.Producto;
@{
    ViewData["Title"] = "Detalles del Producto";
}
<form asp-controller="Catalogo" asp-action="Add">
    <h1 class="text-center">Detalles</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3 border-warning">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img class="img-responsive mx-auto d-block" width="200" height="150"
                            src="/images/@Html.DisplayFor(model => model.ImageName)"
                            alt="@Html.DisplayFor(model => model.ImageName)" />
                    </div>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Descripcion)</p>
                    <p class="card-text">@Html.DisplayFor(model => model.Marca)</p>
                    <h5 class="card-title">@Html.DisplayFor(model => model.Precio)</h5>
                    <a class="btn btn-primary" asp-action="Catalogo">Regresar a Catalogo</a>
                </div>
            </div>
        </div>

    </div>
</form>